.dialog-window .p-button {
  margin: 0 0.5rem 0 0;
  min-width: 10rem;
}

.dialog-window .p-dialog .p-button {
  min-width: 6rem;
}

.messages {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.dialog-window {
  height: 600px;
}

.map-container {
  width: 500px;
  height: 500px;
}
